<!-- <ngx-one-column-layout>
  <nb-menu [items]="menu"></nb-menu>
  <router-outlet></router-outlet>
</ngx-one-column-layout> -->

<!-- scrm components designing -->

<ngx-scrm-columns>
  <nb-menu [items]="menu"></nb-menu>
  <router-outlet></router-outlet>
</ngx-scrm-columns>

 <!-- two layout ngx -->
 <!-- <ngx-two-columns-layout>
  <nb-menu [items]="menu"></nb-menu>
  <router-outlet></router-outlet>
</ngx-two-columns-layout>
 -->

 <!-- three layout ngx -->
 <!-- <ngx-three-columns-layout>
  <nb-menu [items]="menu"></nb-menu>
  <router-outlet></router-outlet>
</ngx-three-columns-layout> -->
