<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
        <form [formGroup]="profileForm">
          <nb-card>
            <nb-card-body>
            <nb-tabset fullWidth>
              <nb-tab tabTitle="Profile"></nb-tab>
              <nb-tab tabTitle="Basic details">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="username" nbInput fullWidth placeholder="Username">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="fname" nbInput fullWidth placeholder="First name">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="lname" nbInput fullWidth placeholder="Last name">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="dob" nbInput fullWidth placeholder="Date of birth">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="gender" nbInput fullWidth placeholder="Gender">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="email" nbInput fullWidth placeholder="email">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="phone" nbInput fullWidth placeholder="phone">
                  </div>

                </div>
              </nb-tab>
              <nb-tab tabTitle="Address" [disabled]="true">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="username" nbInput fullWidth placeholder="Username">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="fname" nbInput fullWidth placeholder="First name">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="lname" nbInput fullWidth placeholder="Last name">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="dob" nbInput fullWidth placeholder="Date of birth">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="gender" nbInput fullWidth placeholder="Gender">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="email" nbInput fullWidth placeholder="email">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="phone" nbInput fullWidth placeholder="phone">
                  </div>

                </div>
              </nb-tab>
              <nb-tab tabTitle="Documents" [disabled]="true">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="username" nbInput fullWidth placeholder="Username">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="fname" nbInput fullWidth placeholder="First name">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="lname" nbInput fullWidth placeholder="Last name">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="dob" nbInput fullWidth placeholder="Date of birth">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="gender" nbInput fullWidth placeholder="Gender">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="email" nbInput fullWidth placeholder="email">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" formControlName="phone" nbInput fullWidth placeholder="phone">
                  </div>
                </div>
              </nb-tab>
            </nb-tabset>
          </nb-card-body>
        </nb-card>
      </form>
  </div>
</div>
